{
  "checks": {
    "check_salt_minion": {
      "command": "{{ nrpe_lib }}/check_procs -c 1: -C salt-minion",
      "standalone": true,
      "interval": 60,
      "occurrences": 5,
      "refresh": 300
    }
  }
}
