{
  "client": {
    "environment": "production",
    "subscriptions": [
      "{{ ansible_distribution }} {{ ansible_distribution_major_version }}",
      "{{ ansible_virtualization_type }}"
    ]
  }
}
