{
  "client": {
    "name": "{{ ansible_fqdn }}",
    "address": "{{ ansible_default_ipv4.address }}",
    "subscriptions": [
      "{{ ansible_distribution }} {{ ansible_distribution_major_version }}",
      "{{ ansible_virtualization_type }}"
    ]
  },
  "rabbitmq": {
{% for host in groups['sensu-server'] %}
    "host": "{{ hostvars[host].ansible_fqdn }}",
{% endfor %}
    "port": 5672,
    "vhost": "/sensu",
    "user": "{{ sensu_user }}",
    "password": "{{ sensu_password }}"
  }
}
